arrow
bbcode
blinker
flake8
importlib_resources
jinja2
jmespath
jsonapi-client@git+https://github.com/JockeTF/jsonapi-client.git
mypy
pytest
requests
requests-mock
tqdm
types-jmespath
types-requests
types-tqdm
